<div class="card card-rounded">
  <div class="card-header display-flex justify-space-between align-center p-4">
  <h2 class="title">{{post.title}}</h2>
  <div>Created by {{post.user.username}} on {{format_date post.createdAt}}</div>
  </div>
<div class="card-bod  p-4">
 {{post.content}}
</div>
  <div class="card-footer bg-primary p-4 text-center">
    <a href="/" class="text-light ">All posts</a>
  </div>
</div>

